/* Resetear estilo de los enlaces */
a {
  text-decoration: none;
}

#container-list {
  justify-content: flex-end;
}

/* Estilo principal para los enlaces */
.menu__link {
  color: #fff !important;
  line-height: 2;
  position: relative;
  transition: color 0.3s ease;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #b533ff;
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

.menu__link:hover {
  color: #ffff; /* Cambia el color del texto al hacer hover */
}

.menu__link:hover::before {
  width: 90%; /* Anima la línea subrayada */
  left: 0;
}

span {
  color: #b533ff;
  text-shadow: 0 0 5px #b533ff, 0 0 15px #b533ff, 0 0 40px #ff00ff;
}

.menu-name {
  color: #ffffff !important;
}

#img-logo {
  width: auto;
  height: auto;
}

#img-wrapper {
  width: 50px;
  height: 50px;
}

#img-wrapper img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 725px) {
  #img-logo {
    display: none;
  }
  #container-list {
    margin-right: 5%;
  }
  #container-header {
    position: fixed !important;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Corrige el centrado */
    width: 90%; /* Ocupa el 90% del ancho de la pantalla */

    background-color: rgba(0, 0, 0, 0.85); /* Fondo negro semi-transparente */
    border-radius: 50px; /* Bordes redondeados */

    padding: 0.5rem 0; /* Espaciado uniforme */
    z-index: 999000; /* Asegura que esté por encima */
  }
}

@media (max-width: 724px) {
  #container-name,
  #list-menu {
    display: none;
  }

  #container-list {
    position: fixed !important;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Corrige el centrado */
    width: 90%; /* Ocupa el 90% del ancho de la pantalla */
    max-width: 400px; /* Ancho máximo para evitar que sea demasiado grande */
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.85); /* Fondo negro semi-transparente */
    border-radius: 50px; /* Bordes redondeados */
    display: flex;
    flex-wrap: nowrap; /* Evita el salto de línea */
    justify-content: center; /* Centra los elementos hijos horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 0.5rem 0; /* Espaciado uniforme */
    z-index: 999000; /* Asegura que esté por encima */
  }

  .nav-item {
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center;
    margin: 0 0.5rem; /* Margen entre elementos */
    white-space: nowrap; /* Evita saltos de línea */
  }

  .nav-item a {
    margin: 0;
    padding: 0.5rem 0.3rem; /* Espaciado interno del texto */
    text-align: center; /* Centra el texto */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado */
  }
}

@media (max-width: 440px) {
  #container-list {
    font-size: 0.6em;
  }
}

@media (max-width: 360px) {
  #container-list {
    font-size: 0.6em;
  }
  #img-wrapper {
    width: 30px;
    height: 30px;
  }
}
