/* Contenedor principal */
.container_main {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  alignitems: center;
  justifycontent: space-around;
  color: white;
  z-index: -999;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 2rem;
  height: 100vh;
}

/* Contenido del texto */
.hero-content {
  max-width: 50%;
}

/* Título */
.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.hero-title .highlight {
  color: #b533ff;
  text-shadow: 0 0 10px #b533ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
}

/* Subtítulo */
.hero-subtitle {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.hero-subtitle .highlight {
  color: #b533ff;
}

/* Descripción */
.hero-description {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
}

/* Botones */
.hero-buttons {
  display: flex;
  gap: 1rem;
}

.hero-buttons > a {
  display: flex;
  gap: 1rem;
  background-color: #b533ff;
}

.hero-buttons > a:hover {
  background-color: #000;
  color: #ffff;
}

#proyect {
  position: absolute;
  display: flex;
  align-items: flex-end;
  margin-top: 89vh;
}

.btn {
  background-color: #b533ff;
  color: #000;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

os sociales */ .hero-socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.social-icon {
  font-size: 1.5rem;
  color: #b533ff;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

/* Imagen con efecto brillante */
.hero-image {
  position: relative;
}

.image-wrapper {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #b533ff;
  box-shadow: 0 0 20px #b533ff, 0 0 40px #ff00ff, 0 0 60px #ff00ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 725px) {
  #hero-container {
    margin-right: 5%;
  }
}

@media (max-width: 724px) {
  #hero-container {
    display: none;
  }
  #proyect {
    margin-top: 85vh;
  }
}
